@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
  color: #1e1e1e;
}

/* grid */
.grid-container {
  @apply grid grid-cols-[1fr,1fr,70px] md:grid-cols-[1fr,1fr,1fr,70px] gap-2 items-center border border-borderMain;
}

/* modal grid */
.grid-container-modal {
  @apply grid grid-cols-[1fr,1fr] md:grid-cols-[1fr,1fr,1fr] gap-2 items-center border border-borderMain;
}

/* desktop grid */
.grid-col-stretch {
  @apply col-span-4 md:col-span-1;
}

/* modal  */
.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  padding: 30px 20px;
  border: 1px solid #f6f6f6;
  border-radius: 6px;
  width: 100%;
  max-width: 600px;
  animation: fadeUp 0.3s ease-in-out forwards;
}

/* modal animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translate(-50%, -70px); 
  }
  to {
    opacity: 1;
    transform: translate(-50%, -120px);
  }
}

/* document component animation */
/* .animate-pop-in > * {
  animation: 0.4s ease-out 0.05s 1 pop-in;
  animation-fill-mode: forwards;
}

@keyframes pop-in {
  0% {
      transform: scaleX(1.2);
      opacity: 0;
  }
  50% {
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
} */