@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
  color: #1e1e1e;
}

/* grid */
.grid-container {
  @apply grid grid-cols-[1fr,1fr,70px] md:grid-cols-[1fr,1fr,1fr,70px] gap-2 items-center;
}

/* desktop grid */
.grid-col-stretch {
  @apply col-span-4 md:col-span-1;
}

/* modal */
.modal-container {
  @apply absolute flex flex-col items-center justify-center left-1/2 transform -translate-x-1/2 w-[500px] h-[300px] bg-white border rounded py-4 px-4;
}